
.catalog__elem-title{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 17pt;
  line-height: 24pt;
}

.catalog__elem-description{
  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;
  line-height: 30pt;
  color: $grey-text;
}

.price {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 15pt;
  line-height: 24pt;
}
