.contacts {
  width: 100%;

  @include desktop {
    height: 630px;
  }
}

.contacts__details {
  @include content
    display: flex;
    flex-wrap: wrap;
    padding: 18px 0px;

  @include tablet {
    padding: 70px 0 45px;

  }
  @include desktop {
    width: 50%;
    margin: 0;
    padding: 110px 0 100px 225px;
  }
}

.contacts__info {
  @include tablet {
    padding: 30px 0 0 0;
    align-items: flex-start;
    display: flex;
    width: 100%;
  }
  @include desktop {
    padding: 0 0 50px 0;
  }
}

.contacts__title {
  font-family: opensansbold, opensansbold-two;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }

  @include desktop {
    font-size: 53px;
    line-height: 30px;
  }
}

.contacts__elem {
  display: flex;
  width: 100%;
}

.contacts__option, .contacts__value {
  font-size: 15px;
  line-height: 30px;
  color: $grey-text;
  @include tablet {
    font-size: 17px;
    line-height: 30px;
  }

  @include desktop {
    font-size: 17px;
    line-height: 30px;
  }
}

.contacts__option {
  width: 75px;
}

.contacts__value {
  width: 145px;
  @include tablet {
    width: 230px;
  }
    @include desktop {
    width: 230px;
  }
}

.contacts__elem--email {
  align-items: center;
}

.contacts__value--email {
  text-decoration: none;
  width: 180px;
}
