.contacts {
  width: 100%;

  @include desktop {
    height: 640px;
  }
}

.contacts__details {
  @include content
    display: flex;
    flex-wrap: wrap;
    padding: 18px 0 13px 0;

  @include tablet {
    padding: 75px 0 35px;
    position: relative;

  }
  @include desktop {
    position: relative;
    margin: 0;
    padding: 162px 0 100px 225px;
  }
}

.contacts__info {
  @include tablet {
    padding: 43px 0 0 0;
    align-items: flex-start;
    display: flex;
    width: 100%;
  }
  @include desktop {
    padding: 55px 0 0 0;
  }
}

.contacts__title {
  font-family: open_sansbold;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }

  @include desktop {
    font-size: 53px;
    line-height: 30px;
  }
}

.contacts__elem {
  display: flex;
  width: 100%;
}

.contacts__option, .contacts__value {
  margin: 6px 0 23px 0;
  font-size: 15px;
  line-height: 30px;
  color: $grey-text;
  @include tablet {
    font-size: 17px;
    line-height: 30px;
  }

  @include desktop {
    font-size: 17px;
    line-height: 30px;
  }
}

.contacts__option {
  width: 76px;
}

.contacts__value {
  width: 145px;
  @include tablet {
    width: 230px;
  }
    @include desktop {
    width: 230px;
  }
}

.contacts__elem--email {
  align-items: center;
}

.contacts__value--email {
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
  width: 180px;
  &:hover {
    color: $light-green;
  }
  &:active {
    color: $green-on-active;
    border-bottom: 1px solid $green-on-active;
  }

  @include tablet {
    width: 202px;
  }
  @include desktop {
    width: 202px;
  }
}
