.form__label-radio {

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.form__lable-checkbox {

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.form__lable-text {

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.form__text {

  font-size: 14px;
  line-height: 5.24px;
  color: $grey-text;
}

.input {

  font-size: 17px;
  line-height: 18px;
}
