.form__label-radio {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 17pt;
  line-height: 18pt;
}

.form__lable-checkbox {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 17pt;
  line-height: 18pt;
}

.form__lable-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 17pt;
  line-height: 18pt;
}

.form__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  line-height: 5.24pt;
  color: $grey-text;
}

.input {
  font-family: 'Open Sans', sans-serif;
  font-size: 17pt;
  line-height: 18pt;
}
