
.good-of-the-week {
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 30px;

    @include tablet {
    }

    @include desktop {
      padding-bottom: 50px;
    }
  }

.good-of-the-week__content {
  @include content

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
}

.good-of-the-week__title {
  font-family: open_sansbold;
  font-weight: bold;
  font-size: 17px;
  line-height: 33px;
  color: $light-green;
  margin: 0;

  @include tablet {
    line-height: 16px;
    padding: 45px 0 0 0;
    text-align: center;
    width: 120px;
    line-height: 20px;
  }

  @include desktop {
    position: absolute;
    top: 72px;
    left: 100px;
    width: 70px;
    line-height: 16px;
    text-align: center;
  }
}

.good-of-the-week__text {
  padding: 15px 0 20px 0;
  font-size: 15px;
  line-height: 24px;

  @include tablet {
    font-size: 17px;
    line-height: 30px;
    padding: 50px 0 0 0;
    margin: 0;
    width: 44%;
  }

  @include desktop {
    font-size: 17px;
    line-height: 30px;
    width: 28%;
    padding: 50px 175px 45px;
  }
}

.good-of-the-week__img {
  @include tablet {
  position: absolute;
  width: 335px;
  height: 400px;
  right: 50px;
  top: 110px;
  }

  @include desktop {
    top: 5px;
    width: 525px;
    height: 635px;
    position: absolute;
    right: 50px;
    z-index: -1;
  }
}

.good-of-the-week__option, .good-of-the-week__value {
  font-size: 15px;
  line-height: 20px;
}


.good-of-the-week__details {
  height: 120px;
  padding: 0 0 30px 0;

  @include tablet {
    width: 45%;
    padding: 30px 205px 60px 0;
  }

  @include desktop {
    width: 25%;
    padding: 0 175px;
  }
}

.good-of-the-week__details-elem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $bg-light-grey;
  height: 40px;
}

.good-of-the-week__option {
  width: 98px;
}

.good-of-the-week__value {
  width: 150px;
}

.good-of-the-week__price {
  padding: 15px 0 25px 0;
  text-align: center;
  font-family: open_sansbold;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $grey-text;

  @include tablet {
    font-size: 20px;
    margin: 0 0 0 75px;
    padding: 0 0 35px 0;
  }

  @include desktop {
    margin: 110px 0 35px 250px;
    padding: 0;
    font-size: 20px;
    width: 150px;
  }
}

.good-of-the-week__order {
  font-size: 17px;
  line-height: 16px;
  color: $grey-text;
  width: 100%;
  padding: 16px 0;

  @include tablet {
    height: 50px;
    width: 290px;
    margin: 0 300px 0 0;
  }

  @include desktop {
    height: 50px;
    width: 290px;
    margin: 0 175px;
  }
}

