.goods {
  display: flex;
  flex-wrap: wrap;


  @include tablet {
    @include content
    padding-top: 250px;
    width: 100%;
  }

  @include desktop {
    @include content
    padding: 230px 0 60px 0px;
  }
}

.goods__interior {
  background-color: $light-green;
}

.goods__toys {
  background-color: $dark-green;
  margin-bottom: 40px;

}

.goods__text {
  font-family: open_sansbold;
  font-size: 19px;
  line-height: 24px;
  color: white;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    margin: -5px 0 0 35px;
  }
    @include desktop {
    font-size: 20px;
    line-height: 30px;
    margin: -15px 0 0 35px;
  }
}

.goods__interior, .goods__toys {
  height: 104px;
  width: 100%;
  text-decoration: none;
  display: flex;
  margin: 0;

  &:hover {
    height: 109px;
    margin: -5px 0 0 0;
    .goods__icon-interior, .goods__icon-toy {
      fill: $goods-on-hover;
    }
  }
  &:active {
    .goods__text {
      color: #8AE2D0;
    }
    .goods__icon-interior, .goods__icon-toy {
      fill: $goods-on-active;
    }
  }

    @include tablet {
      height: 125px;
      width: 50%;
    &:hover {
      height: 130px;
      margin: -5px 0 0 0;
    }
  }

    @include desktop {
      height: 130px;
      width: 50%;
    &:hover {
      height: 135px;
      margin: -5px 0 0 0;
    }
  }
}

.goods__icon-interior {
  fill: #3bb09d;
}

.goods__icon-toy {
  fill: #35a999;
}

.goods__icon-interior, .goods__icon-toy {
  @include tablet {
    margin: 0 30px 0 0;
  }
  @include desktop {
    margin: 0 30px 0 0;
  }
}

.goods__icon-interior, .goods__icon-toy {
  width: 60px;
  height: 60px;
}

.goods__content {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include content;
}



