
.goods-bg-pic {
  background: url(../img/header-picture.png) no-repeat center;
  background-size: cover;
  height: 350px;
  margin-bottom: 105px;

  @include tablet {
    background: url(../img/hero-mobile@1x.jpg) no-repeat center;
    background-size: cover;
    height: 720px;
    margin-bottom: 50px;
  }

  @include desktop {
    background: url(../img/hero-mobile@1x.jpg) no-repeat center;
    background-size: cover;
    height: 740px;
    margin-bottom: 70px;
  }
}





