
.good-of-the-week__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 17pt;
  line-height: 16pt;
  color: $light-green;
}

.good-of-the-week__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15pt;
  line-height: 20pt;
  color: $grey-text;
}

.good-of-the-week__price-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 17pt;
  line-height: 24pt;
  color: $grey-text;
}

.good-of-the-week__order {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 17pt;
  line-height: 16pt;
  color: $grey-text;
}
