.goods {
  display: flex;
  padding-top: 170px;
  flex-wrap: wrap;

  @include tablet {
    @include content
    padding-top: 285px;
  }

  @include desktop {
    @include content
    padding: 270px 0 20px;
  }
}

.goods__interior {
  background-color: $light-green;
}

.goods__toys {
  background-color: $dark-green;
}

.goods__interior, .goods__toys {
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  padding-left: 20px;
  color: white;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;

    @include tablet {
      height: 115px;
      width: 50%;
  }

    @include desktop {
      height: 130px;
      width: 50%;
  }
}
