
.good-of-the-week__title {

  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $light-green;
}

.good-of-the-week__text {

  font-size: 15px;
  line-height: 20px;

}

.good-of-the-week__price-text {

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $grey-text;
}

.good-of-the-week__order {

  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $grey-text;
}
