.hamburger {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 110px;
  top: -34px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.hamburger .hamburger__left {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  height: 2px;
  width: 12px;
  top: 30px;
  background-color: #000000;
  left: 0px;
}
.hamburger .hamburger__left:before {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #000000;
  content: "";
  top: -7px;
}
.hamburger .hamburger__left:after {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #000000;
  content: "";
  top: 7px;
}
.hamburger .hamburger__left:hover {
  cursor: pointer;
}
.hamburger .hamburger__right {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  height: 2px;
  width: 12px;
  top: 30px;
  background-color: #000000;
  left: 12px;
}
.hamburger .hamburger__right:before {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #000000;
  content: "";
  top: -7px;
}
.hamburger .hamburger__right:after {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #000000;
  content: "";
  top: 7px;
}
.hamburger.open .hamburger__left {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: transparent;
}
.hamburger.open .hamburger__left:before {
  -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
          transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
}
.hamburger.open .hamburger__left:after {
  -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
          transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
}
.hamburger.open .hamburger__right {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: transparent;
}
.hamburger.open .hamburger__right:before {
  -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
          transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
}
.hamburger.open .hamburger__right:after {
  -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
          transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
}
.hamburger:hover {
  cursor: pointer;
}
