
.knit {
  background-color: $bg-light-grey;
  height: 180px;
  width: 100%;

  @include tablet {
    height: 215px;
  }

  @include desktop {
    height: 235px;
  }
}

.knit__text {
  @include content
  font-size: 13px;
  line-height: 24px;
  color: $grey-text;
  padding: 20px 0 0 0;
  @include tablet {
    padding: 70px 0 0 0;
  }
  @include desktop {
    padding: 70px 0 0 0;
    width: 50%;
    margin-left: 260px;
    // border: 1px solid red;
  }
}
