
.knit {
  background-color: $bg-light-grey;
  height: 180px;
  width: 100%;

  @include tablet {
    height: 235px;
  }

  @include desktop {
    height: 255px;
  }
}

.knit__text {
  @include content
  font-size: 13px;
  line-height: 24px;
  color: $grey-text;
  padding: 20px 0 0 0;
  @include tablet {
    padding: 60px 0 0 0;
    font-size: 17px;
    line-height: 30px;
  }
  @include desktop {
    padding: 120px 0 0 0;
    font-size: 17px;
    line-height: 30px;
    width: 61%;
  }
}
