
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width} - 1px) {
    @content;
  }
}
// @mixin tablet {
//   @media (min-width: #{$tablet-width}) {
//     @content;
//   }
// }

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin content {
  width: 260px;
  margin: 0 auto;

  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
    width: $tablet-width - 100px;
  }

  @media (min-width: #{$desktop-width}) {
    width: $desktop-width - 100px;
    }
}

@mixin retina {
   @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    @content;
   }
}
