.page-header {
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color;
  position: relative;
  font-family: opensansbold;

  @include tablet {
    height: 90px;
    display: flex;
  }

  @include desktop {
    font-size: 17px;
    height: 90px;
    display: flex;
    justify-content: space-between;
  }
}

.page-header__content {
  @include content
  display: flex;
  align-items: center;
  height: inherit;
}

.page-header__nav-link, .page-header__search, .page-header__cart-b {
  text-decoration: none;
}

.page-header__nav-link {
  color: black;
}

.page-header__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.page-header__search, .page-header__cart-b {
  display: none;

  @include tablet {
    display: flex;
  }

  @include desktop {
    display: flex;
  }
}


.page-header__nav-list{
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  font-weight: bold;
  line-height: 24px;

  @include tablet {
    width: 305px;
    display: flex;
    margin-top: 145px;
    margin-left: -115px;
    font-size: 15px;
    z-index: 3;
  }

  @include desktop {
    width: 370px;
    display: flex;
    font-size: 17px;
  }
}

.page-header__logo-mobile {
  background: url(../img/logo-mobile.svg) no-repeat;
  padding: 20px 50px;
  position: absolute;
  right: 105px;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.page-header__logo-tablet {
  @include tablet {
    background: url(../img/logo-tablet.svg) no-repeat;
    padding: 25px 60px;
  }
}

.page-header__logo-desktop {
  @include desktop {
    background: url(../img/logo-desktop.svg) no-repeat;
    padding: 35px 80px;
  }
}

.page-header__search, .page-header__cart-b{
  height: inherit;
  align-items: center;
}

.page-header__search {
    height: inherit;
    padding: 0px 30px;
    // margin: 0 20px 0 0;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;

  @include desktop {
    margin: 0;
    padding: 0px 35px;
  }
}


.page-header__cart {
  color: black;
  font-size: 17px;

  @include desktop {
    padding: 0 0 0 30px;
  }
}

.page-header__cart-b {
  // margin: 0 0 0 -45px;
}
