.page-footer__bottom {
  background-color: $bg-light-grey;
}

.page-footer__write-to-us {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 18pt;
  line-height: 16pt;
  color: $grey-text;
}

.page-footer__developped {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 19pt;
  line-height: 18pt;
}
