
.page-footer {
  @include desktop {
    position: relative;
  }
}

.page-footer__grey-bg {
  background-color: $bg-light-grey;
}

.page-footer__grey-bg-content {
  @include tablet {
    @include content
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
  }
  @include desktop {
    @include content
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
  }
}

.page-footer__write-to-us-b {
  @include content
  text-align: center;

  @include tablet {
    padding: 13px 0 0 0;
  }

  @include desktop {
    width: 228px;
    position: absolute;
    top: 418px;
    text-align: left;
    padding: 0 0 0 225px;
  }
}

.page-footer__write-to-us {
  font-family: opensansbold, opensansbold-two;
  padding: 13px 45px;
  font-size: 18px;
  width: 100%;
  color: $grey-text;
  border: 2px solid $grey-text;
  background-color: white;
  margin: 30px 0 40px;

  @include tablet {
    margin: 31px 0 55px;
    padding: 13px 0;
    width: 230px;
  }

  @include desktop {
    padding: 13px 0;
    width: 230px;
    margin: 65px auto;
  }
}


.page-footer__bottom {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    .page-footer__icon-dev {
      fill: #45C1AE;
    }
  }
  &:active {
    color: $link-on-active;
    .page-footer__icon-dev {
      fill: $green-on-active;
    }
  }

  @include tablet {
    height: 145px;
  }

  @include desktop {
    height: 145px;
  }
}

.page-footer__dev {
  font-family: opensansbold;
  font-size: 19px;
  line-height: 18px;
  width: 140px;
  cursor: pointer;

  @include tablet {
    width: 120px;
  }
  @include desktop {
    width: 120px;
  }
}

.page-footer__icon-dev {
  fill: $light-green;
  padding-left: 15px;
  &:hover {
    fill: $green-on-active;
  }
  @include tablet {
    padding: 0;
    margin: 0 -6px 0 30px;
  }
  @include desktop {
    padding: 0;
    margin: 0 -6px 0 30px;
  }
}

