
.page-footer {
  @include desktop {
    position: relative;
  }
}

.page-footer__grey-bg {
  background-color: $bg-light-grey;

  @include tablet {
    // height: 170px;
  }
}

.page-footer__write-to-us-b {
  @include content
    text-align: center;

  @include desktop {
    width: 228px;
    position: absolute;
    top: 400px;
    text-align: left;
    padding: 0 0 0 225px;
  }
}

.page-footer__write-to-us {
  margin: 0 auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  color: $grey-text;
  width: 100%;
  padding: 18px 0px;
  margin: 40px 0;

  @include tablet {
    width: 228px;
  }

}


.page-footer__bottom {
  height: 80px;
  display: flex;
  align-items: center;

  @include tablet {
    height: 145px;
  }

  @include desktop {
    height: 145px;
  }
}

.page-footer__developped {
  @include content
  text-align: center;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
}

