
.social-links {
  border-bottom: 1px solid #e5e5e5;
  height: 80px;
  align-items: center;
  @include content
  display: flex;
  @include tablet {
    margin: 0 0 0 80px;
    border-bottom: 1px solid transparent;
    width: 150px;
    justify-content: space-between;
  }
  @include desktop {
    margin: 0 0 0 80px;
    border-bottom: 1px solid transparent;
    width: 150px;
    justify-content: space-between;
  }
}

.social-links__item {
  display: flex;
  align-items: center;
  height: 30px;
}

.social-links__item--insta {
  margin: 0 32px 0 55px;
  @include tablet {
    margin: 0;
  }
  @include desktop {
    margin: 0;
  }
}

.social-links__item--twitter {
  margin: 0 55px 0 32px;
  @include tablet {
    margin: 0;
  }
  @include desktop {
    margin: 0;
  }
}
