.title {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  @include tablet {
    font-size: 43px;
    line-height: 50px;
  }
  @include desktop {
    font-size: 43px;
    line-height: 50px;
  }
}

.title--top{
  text-align: center;
  margin: 0 auto;
  padding-top: 80px;

  @include tablet {
    padding-top: 170px;
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    padding-top: 170px;
    font-size: 53px;
    line-height: 57px;
  }
}

.title--grey-bg {
  text-align: center;
  position: relative;
  top: 40px;
}
