.title {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  @include tablet {
    font-size: 43px;
    line-height: 50px;
  }
  @include desktop {
    font-size: 53px;
    line-height: 57px;
  }
}

.title--top{
  text-align: center;
  margin: 0 auto;
  padding-top: 80px;

  @include tablet {
    padding-top: 170px;
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    padding-top: 170px;
    font-size: 53px;
    line-height: 57px;
  }
}

.title--good-0f-the-week {
  @include desktop {
    padding: 70px 0 0 175px;
  }
}

.title--about-us {
  margin: 50px 0;
}

.title--review {
  @include tablet {
    width: 50%;
  }
}

.title--grey-bg {
  text-align: center;
  position: relative;
  top: 70px;
  @include tablet {
    top: 25px;
  }
  @include desktop {
    top: 40px;
  }
}
