$bg-light-grey: #f1f1f1;
$light-green: #63d1bb;
$dark-green: #56c3b2;
$green-on-active: #D0F1EA;
$grey-text: #444444;
$border-color: #e7e7e7;
$tablet-width: 768px;
$desktop-width: 1150px;
$placeholder-color: #ccc;
$link-on-hover: #666;
$link-on-active: #B2B2B2;
$goods-on-hover: #28A591;
$goods-on-active: #43C0AA;
