
.work-process {
  @include content
  display: flex;
  flex-wrap: wrap;
  border: 1px solid $bg-light-grey;
  margin-bottom: 60px;
  padding: 0 0 35px 0;
  position: relative;

  @include tablet {
    padding: 0 0 50px 0;
  }

  @include desktop {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 420px;
    margin-bottom: 105px;
  }
}
.work-process__video {
  order: 2;
  position: relative;
  @include tablet {
    order: 1;
  }
  @include desktop {
    position: absolute;
    left: 0px;
    z-index: -1;
  }
}

.work-process__title-b {
  display: flex;
  order:1;
  padding: 20px 20px 25px;
  align-items: center;

  @include tablet {
    width: 100%;
    padding: 32px 0 5px 23px;
  }

  @include desktop {
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
    margin: 45px 140px 0 0;
    padding: 0;
  }
}

.work-process__title {
  padding: 0 0 0 18px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @include tablet {
    font-size: 20px;
    line-height: 24px;
    padding: 0 0 0 13px;
  }
  @include desktop {
    font-size: 20px;
    line-height: 24px;
    padding: 20px 0 0 0;
  }
}

.work-process__description {
  order: 3;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0 0 40px;
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 40px 0 0;
    padding: 0;
    width: 250px;
  }
}

.work-process__text {
  font-size: 13px;
  line-height: 24px;
  color: $grey-text;
  padding: 25px 35px;
  @include tablet {
    font-size: 15px;
    line-height: 30px;
    padding: 0 0 35px 0;
  }
  @include desktop {
    font-size: 15px;
    line-height: 30px;
    padding: 0 0 45px 0;
  }
}

.work-process__make-order {
  font-size: 17px;
  line-height: 16px;
  color: $grey-text;
  margin: 0 35px -5px;
  width: 190px;
  height: 50px;
  @include tablet {
    width: 585px;
    margin: 0 ;
  }
  @include desktop {
    width: 230px;
    margin: 0;
  }
}
