.work-process__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 17pt;
  line-height: 24pt;
}

.work-process__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;
  line-height: 24pt;
  color: $grey-text;
}

